*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

/* الصفحة */
body{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    min-height:100vh;
    padding:40px 10px;
    background: radial-gradient(circle,#f3f4f6,#e5e7eb);
}

/* الكارد */
.phone{
    width:380px;
    min-height:750px;
    border-radius:30px;
    padding:30px 20px;

    background: linear-gradient(145deg,#B00A8B,#d946ef,#fb923c);
    color:white;

    display:flex;
    flex-direction:column;
    align-items:center;

    gap:18px;

    box-shadow:0 20px 60px rgba(0,0,0,0.25);
    overflow:hidden;
}

/* زر اللغة */
.lang{
    width:100%;
    display:flex;
    justify-content:flex-end;
}

.lang button{
    background:rgba(255,255,255,0.2);
    color:white;
    border:1px solid rgba(255,255,255,0.4);
    padding:6px 14px;
    border-radius:20px;
    cursor:pointer;
    font-size:13px;
    backdrop-filter: blur(10px);
}

/* الصورة */
.avatar{
    width:120px;
    height:120px;
    border-radius:50%;
    object-fit:cover;
}

/* العنوان */
h1{
    font-size:22px;
    margin:0;
}

/* الوصف */
p{
    font-size:14px;
    opacity:0.85;
    margin:0;
}

/* الأزرار */
.btn{
    width:100%;
    display:block;
    background:white;
    color:#222;
    text-decoration:none;
    padding:14px;
    border-radius:12px;
    font-weight:600;
    text-align:center;
    transition:0.2s;
}

.btn:hover{
    transform:translateY(-2px);
}
