*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    min-height:100vh;
    background:#f3f4f6;
    padding:40px 0;
}

.phone{
    width:380px;
    min-height:750px;
    border-radius:30px;
    padding:30px 20px;
    box-sizing:border-box;

    background: linear-gradient(145deg,#B00A8B,#d946ef,#fb923c);
    color:white;

    display:flex;
    flex-direction:column;
    align-items:center;
    gap:12px;

    box-shadow:0 20px 60px rgba(0,0,0,0.25);
    overflow:hidden;
}

.avatar{
    width:120px;
    height:120px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:20px;
}

h1{
    margin:10px 0 5px;
    font-size:22px;
}

p{
    opacity:0.85;
    font-size:14px;
    margin-bottom:15px;
}
.socials{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-bottom:30px;
}

.socials a{
    color:white;
    font-size:24px;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background: radial-gradient(circle,#f3f4f6,#e5e7eb);
}
.lang{
    width:100%;
    display:flex;
    justify-content:flex-end;
}

.lang button{
    background:rgba(255,255,255,0.2);
    color:white;
    border:1px solid rgba(255,255,255,0.4);
    padding:6px 14px;
    border-radius:20px;
    cursor:pointer;
    font-size:13px;
    backdrop-filter: blur(10px);
}
